<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <form class="col-4 offset-4 pt-5">
        <div class="alert alert-danger" role="alert">
            This is a danger alert—check it out!
        </div>
        <div class="alert alert-success" role="alert">
            This is a success alert—check it out!
        </div>
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="inputIPs">Password</label>
            <input type="text" class="form-control" id="inputIPs" placeholder="IPs">
        </div>
        <button type="button" class="btn btn-primary" onclick="httpGet()">Submit</button>
    </form>
</body>
</html>
<script>
    function httpGet() {
        var http = new XMLHttpRequest();
        var url = "https://localhost:44355/api/login";
        var params = JSON.stringify({
            username: document.getElementById("inputUsername").value,
            password: document.getElementById("inputPassword").value,
            ips: document.getElementById("inputIPs").value
        });
        http.open("POST", url, true);

        http.setRequestHeader("Content-type", "application/json; charset=utf-8");

        http.onreadystatechange = function () {
            if (http.readyState == 4 && http.status == 200) {
                displayLoginResult(http.responseText);
            }
        }
        http.send(params);
    }

    function displayLoginResult(resultJSON) {
        result = JSON.parse(resultJSON)
        result = JSON.parse(result)
        alert(result['ResultMessage']);
        alert(result['ResultCode']);
    }

</script>